/* Resets and  Global styles */
body {margin: 0}
body * {
    box-sizing: border-box;
    font-family: 'Montserrat', 'Roboto', 'Raleway', 'Arial', sans-serif;
}
body {
    background: #f3f3f3;
}
/* ----- */


/* nav container */
.navigation {
    background: url('../images/Grunge Green.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    z-index: 999;
    position: sticky;
    top:0;

}

@media (min-width: 768px) {
    .navigation {
        height: 100vh;
        width: 100%;
        max-width: 320px;
        background-size: 1000px;
        display:flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0 15px 0;
        font-size: 1.2rem;
        min-height: 600px;
        transition: transform .4s ease-in-out;
    }
}

@media (min-height: 1001px) {
    .navigation {
        background-size:cover;
    }
    
}

/* nav header mobile*/
.navHeader {
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    color: white;
    font-size: 1.2rem;
    padding: .5rem 1rem;
    font-weight: 500;
}

@media (max-width: 767px){
    .navHeader {display: flex !important;}
}

@media (min-width: 768px) {
    .navHeader{
        display: block;
    }
    .imageFrame {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto 10px auto;
    }
    
}

@media (max-width: 767px) {
    .navMobileOpen .navHeader {
    box-shadow: 0 0px 20px 3px #4397B6; 
}}


/* Image */




@media (max-width: 767px)
{ .imageFrame {display: none;}}

.imageFrame img {
    height: 100%;
    width: 100%;
}



/* Navigation Toggle */

.navToggle {
    width: 30px;
    color: white;
    position: relative;
}
@media (min-width: 768px) {
    .navToggle {display: none;}
}

/* toggle menu top-line */
.navToggle::before{
    content:'';
    width: 100%;
    height: 4px;
    border-radius:2px;
    background: white;
    position: absolute;
    top:0;
    transition: all .3s ease-in-out;
}

/* toggle mid line */
.navToggle div {
    width:100%;
    height: 4px;
    background: white;
    margin: 10px auto 0 auto; /* to center, needs to be adjusted when header font size changes */
    border-radius: 3px;
    transition: all .3s ease-in-out;
}


/* toggle menu bottom line */
.navToggle::after{
    content:'';
    width: 100%;
    height: 4px;
    border-radius:2px;
    background: white;
    position: absolute;
    bottom:0;
    transition: all .3s ease-in-out;
}



.navMobileOpen .navToggle div {
    width: 0;
}

.navMobileOpen .navToggle::before {
    transform: rotate(45deg);
    top: calc(50% - 2px);
    background: skyblue;
}

.navMobileOpen .navToggle::after {
    transform: rotate(135deg);
    top: calc(50% - 2px);
    background: skyblue;
}

.nav {
    text-align: center;
    color: white;

}


@media (max-width: 767px){
    .nav, .nav li {
        display: none;
    } 
} 
@media (min-width: 768px){
    .nav {
        margin-top: 100px;
        margin-bottom: auto;
    }

}


.navul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    padding: 1.2rem;
}
.nav li:hover {
    background: rgba(0,0,0,.6);
}


.nav a {
    text-decoration: none;
    color:white;
}

@media (min-width: 768px){
    .nav{
        width: 100%;
        flex-basis: 50%;
    }

    .navul {
        box-shadow: 0 0 20px 2px #4397B6 inset; 

    }

    .nav li {
        padding: 1rem;
    }

    #nav, #navul > li{
        display: block;
    }
}



@media (max-width: 767px){
    .navSlide {
        display: none;
    }
}

@media (min-width: 768px){

    .navSlide {
        position:relative;
        height: 60px;
        width: 60px;
        transition: all .5s ease-in-out;
        position: absolute;
        bottom: 20px;
        right: calc(50% - 30px);
    }

    .navSlide img{
        color: white;
        height: 60px;
        border-radius: 50%;
        transition: all .5s ease-in-out, background .2s;

    }

    .navSlide img:hover {
        background: rgba(0,0,0,.6);
    }

    .navSlideClose {
        transform: rotate(180deg);
        bottom: 50%;
        right: 0;
    }

    .navDeskClose {
        transform: translateX(calc(60px - 100%));
        background: #1B4D60;
    }


}

@media (max-width: 767px) {
.bgContainer {
    background: linear-gradient(rgba(37,2,48, .6),rgba(0,0,0,0)), url('../images/bg-vertical2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    height: 100vh;
    width: 100%;
    z-index: -1;
    position: fixed;
    top: 0;
}
}



.contentsContainer {
    color: white;

}

#aboutMe {
    padding: 25px 40px;
}

.abtMeHead {
    padding: 0;
}

.abtMeHead h1{
    margin-top: 0;
}

#lineBreak {
    height: 3px;
    background-color: #3b81838f;
    border-radius: 1px;
}

.abtMeText{
    line-height: 1.8rem;
    font-family: 'Raleway';
}


.abtMeText span {
    display: none;
    line-height: inherit;
    font-family: inherit;
}

.sMore {
    background: transparent;
    border: 1px solid lightgray;
    border-radius: 4px;
    color: lightgray;
    font-family: 'Raleway';
    padding: 5px 5px;
    font-size: .9rem;
}

.sMore:hover {
    border: none;
    background: #3b8183;
    color: white;
}

.container {
    display: block;
}

.navFlex {
    position: sticky;
    top:0;
}

@media (min-width: 768px){
    .container {
        display: flex;
        width: 100%;
        flex-flow: row nowrap;
    }
    .navFlex {
        flex-basis: 25%;
        max-width: 320px;
        transition: flex .4s ease-in-out;
    }

    .navFlexClosed{
        flex-basis: 60px;
        min-width: 60px;
    }


    .Container{
        background: linear-gradient(#000, #fff);
        width: 100%;

    }

}